<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/css/bootstrap-datepicker.css" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/js/bootstrap-datepicker.js"></script>

    <nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
        <a class="navbar-brand" href="/djangoapp">Best Cars</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
               {% if user.is_authenticated %} 
            <li class="nav-item active">
              <a class="nav-link" href="/djangoapp">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/djangoapp/about">About me</a>
            </li>
            <li class="nav-item"> 
                <a class="nav-link" href="/djangoapp/contact">Contact Us</a>
              </li>
              <li>
    
                    <a class="btn btn-link" href="#">{{ user.first_name }}({{ user.username }})</a>
                    <a class="btn btn-link btn-light m-2" href="/djangoapp/logout">Logout</a> 
              
                </li>
                 {% else %} 
                 <li>
            <form class="form-inline my-2 my-lg-0" method="post" action="/djangoapp/login/">
                          {% csrf_token %}
            <input class="form-control mr-sm-2" type="text" placeholder="Username" aria-label="Search" name='username'>
            <input class="form-control mr-sm-2" type="password" placeholder="Password" aria-label="Search" name='password'>
            <button class="btn btn-primary m-2">Login</button>
            <a href="/djangoapp/registration" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Sign Up</a>
          </form>
          </li>
            {% endif %} 
          </ul>
          
        </div>
      </nav> 
</head>

<body>
        
    <form action="{% url 'djangoapp:add_review' dealer.id %}" class="m-4" method="POST">
            {% csrf_token %}
            <div class="mb-3">
                <h1>Add a review about {{ dealer.full_name }}</h1>
                <label for="content" class="form-label"><b>Enter the review content</b></label>
                <textarea placeholder="This is a great car dealer" class="form-control" id="content" name="content" rows="2" required></textarea>
            </div>
            <div class="mb-3 form-check">
                <input class="form-check-input" type="checkbox" name="purchasecheck" id="purchasecheck">
                <label class="form-check-label" for="purchasecheck">Has purchased the car from {{ dealer.full_name }} ? <label style="color:grey">(select purchased car information below if checked)</label></label>
            </div>
            <div class="mb-3">
                <label for="car" class="form-label"><b>Select your car (model-make-year)</b></label>
                <select name="car" id="car" class="form-select" required>
                    {% for car in cars %}
                        <option selected value="{{ car.id }}">{{ car.name }}-{{ car.car_make }}-{{ car.year|date:"Y" }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="mb-3">
                <label for="purchasedate" class="form-label"><b>Select Your Purchase Date</b></label>
                <input class="date-own form-control" style="height:40px; width:170px;" type="date" name="purchasedate" id="purchasedate" required>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

    </body>
        
        <script type="text/javascript">
            $('.date-own').datepicker({
                format: 'mm/dd/yyyy'
            });
        </script>
        

</html>